   
    	.god{
    		text-align: center;
    		font-family: 'Gochi Hand', cursive;
    		font-size: 70px;
    		color: #5bd4bc;
    	}
    	.god2{
    		text-align: center;
    		font-family: 'Gochi Hand', cursive;
       		color: #5bd4bc;
       		font-size: 25px;
    	}
    	.god3{
    		text-align: center;
    	}
    	#about{
    		background: #b5c9bb;
    		padding-bottom: 0;
    	}
   